# npm packages
node_modules/

# logs
logs/
*.log
npm-debug.log*

# dev geth data
geth-node/

# editor
vscode
jsconfig.json

# misc
.DS_Store

# migration scripts
migration_scripts/

# static files
static/

# test file
test.js

# dev config file
config/env.json
